<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Procès-verbal</title>
	<style>
		li {
			padding-bottom: 2rem;
			border-bottom: 1px solid gray;
			margin-bottom: 0.5rem;
		}
		table {
			width: 100%;
			border-collapse: collapse;
		}
		table, th, td {
			border: 1px solid black;
		}
		.big-table th, .big-table td{
			padding: 1rem;
			text-align: center;
		}
	</style>
  </head>
  <body>
	<div style="text-align: center;display: flex;flex-direction: column; padding-top: 0.5rem; padding-bottom: 0.5rem; font-weight: bold; border: 1px solid black;">
		Procès-verbal de l'Assemblée générale ordinaire
	</div>
	<br/>
	<br/>
    <span>
		La présente assemblée générale de la SRL {{organization.name}} s’est tenue en ce {{organization.date-ago}} à 10h au siège social de la Société .
	</span>

	<br/>
	<br/>
	
	<ol>
		<li><h3>BUREAU</h3>
			<span>
				La séance est ouverte à 10 heures, sous la présidence de Monsieur {{transcript.adminName}}, administrateur. L’assemblée générale désigne {{transcript.secretaryName}} en qualité de secrétaire et {{transcript.scrutineerName}} en qualité de scrutateur.
			</span>
		</li>

		<br/>
		<br/>

		<li><h3>COMPOSITION DE L'ASSEMBLEE</h3>
			<span>
				Sont présents ou représentés les actionnaires indiqués à la liste des présences jointe en annexe, signée par chacun d'eux ou leurs mandataires avant l'ouverture de la séance.
				<br/>
				La liste des présences est arrêtée et signée par les membres du bureau.
				<br/>
				Les procurations mentionnées dans la liste des présences restent ci-annexées.
			</span>
		</li>

		<br/>
		<br/>

		<li><h3>EXPOSE</h3>
			<div>
				<div>Le Président expose ce qui suit :</div>
				<div style="font-weight: bold;">3.1 La présente assemblée a pour ordre du jour :</div>
			</div>
			<div>
				<div>A.	Opérations ou décisions spéciales (conflits d’intérêt) </div>
				<div>B.	Rapport de gestion </div>
				<div>C.	Approbation des comptes annuels et affectation du résultat</div>
				<div>D.	Décharge aux administrateurs et du commissaire</div>
				<div>E.	Nomination, renouvellement ou révocation des mandats</div>
				<div>F.	Rémunération des administrateurs </div>
				<div>G.	Procédure de sonnette d’alarme et rapport de l’organe d’administration</div>
			</div>

			<div>
				<br/>
				<div style="font-weight: bold;">3.2	L’assemblée générale a été valablement convoquée. OU La présente assemblée se tient sans convocation formelle. Tous les actionnaires sont présents ou représentés et représentent la totalité des capitaux propres. </div>
				<br/>
				<div style="font-weight: bold;">3.3	Les actionnaires se sont conformés aux règles relatives à l’admission et à la représentation des actionnaires à l’assemblée générale.</div>
				<br/>
				<div style="font-weight: bold;">3.4	Une copie des comptes annuels et des rapports dont question à l'ordre du jour a été adressée aux actionnaires conformément aux dispositions du Code des sociétés et des associations.</div>
				<br/>
				<div style="font-weight: bold;">3.5	Les propriétaires de actions non entièrement libérées ont effectué à ce jour tous les versements régulièrement appelés et exigibles.</div>
				<br/>
				<div style="font-weight: bold;">3.6	Pour être admises, les propositions à l'ordre du jour doivent réunir la majorité simple des voix pour lesquelles il est pris part au vote.</div>
			</div>

		</li>

		<li><h3>CONSTATATION DE LA VALIDITE DE LA CONVOCATION</h3>
			L’assemblée générale reconnaît comme exact le constat de validité de la convocation tel qu’exposé par le Président. 
			<br/>OU<br/>
			L’assemblée générale déclare renoncer à l’unanimité au respect des formalités de convocation et vouloir délibérer sur les points proposés à l’ordre du jour.
		</li>

		<li><h3>CONSTATATION DE LA VALIDITE DE L'ASSEMBLEE</h3>
			L'exposé du Président, après vérification par le scrutateur, est reconnu exact par l'assemblée. Celle-ci se reconnaît valablement constituée et apte à délibérer sur les objets à l'ordre du jour.
		</li>

		<li><h3>DELIBERATIONS</h3>

			<div>

				<br/>
				<div style="font-weight: bold;">6.1	Opérations ou décisions spéciales (conflits d’intérêt)</div>
				<div>
					Conformément à l’article 5:76 du Code des sociétés et des associations, Monsieur/Madame [xxx] et la société ont un intérêt patrimonial opposé.
					<br/>
					Exposé du conflit d’intérêt et de l’opération
					<br/>
					L’assemblée générale décide à l’unanimité de conclure l’opération décrite au point précédent et de désigner Monsieur/Madame [xxx] comme mandataire spécial afin de conclure ladite opération.
				</div>

				<br/>
				<div style="font-weight: bold;">6.2	Rapport de gestion</div>
				<div>
					Conformément à l’article 3:4 du Code des sociétés et des associations, aucun rapport de gestion n’est établi en ce que la société est une petite société.
					<br/>OU<br/>
					Le Président donne lecture du rapport de gestion sur l'exercice clôturé le 31 décembre [xxx].
					<br/>
					L’assemblée entend le rapport et n’émet aucune observation ni ne demande des informations complémentaires.
				</div>

				<br/>
				<div style="font-weight: bold;">6.3	Approbation des comptes annuels et affectation du résultat</div>
				<div>
					L’assemblée générale prend connaissance du projet de comptes annuels et de l’affectation du résultat par l’organe de gestion.
					<br/>
					L'assemblée marque son accord sur l’affectation du résultat telle qu'elle résulte des comptes annuels et approuve les comptes annuels à l'unanimité.
					<br/>
					<br/>
					<table>
						<tr>
							<td>Bénéfice de l'exercice</td>
							<td style="text-align: end;">€</td>
						</tr>
						<tr>
							<td>Bénéfice reporté</td>
							<td style="text-align: end;">€</td>
						</tr>
						<tr>
							<td>Total à affecter</td>
							<td style="text-align: end;">€</td>
						</tr>
						<tr>
							<td colspan="2" style="text-align: center;">AFFECTATION</td>
						</tr>
						<tr>
							<td>Tantièmes</td>
							<td style="text-align: end;">€</td>
						</tr>
						<tr>
							<td>Dividende</td>
							<td style="text-align: end;">€</td>
						</tr>
						<tr>
							<td>Bénéfice à reporter</td>
							<td style="text-align: end;">€</td>
						</tr>
						<tr>
							<td></td>
							<td style="text-align: end;">0,00€</td>
						</tr>
					</table>
					<br/>
					L’assemblée générale a pu constater que toutes les conditions légales pour distribuer un dividende de XXX EUR sont réunies. En effet, conformément aux articles 5.142 du CSA et 5.143 du CSA, les administrateurs ont fait procéder aux tests de liquidité et de solvabilité, lesquels ont démontré que les conditions légales sont rencontrées.
					<br/>
					L'assemblée générale charge l’organe d’administration de fixer la date et les modalités de mise en paiement des dividendes.
					<br/>
					L'assemblée adopte cette résolution à l'unanimité.
				</div>

				<br/>
				<div style="font-weight: bold;">6.4	Décharge aux administrateurs</div>
				<div>
					Il est donné décharge par l’assemblée au(x) administrateurs (s) susmentionné(s) pour sa/leur administrateur relative à l’exercice clôturé.
					<br/>
					<br/>
					Administrateurs :
					<br/>
					<br/>
					{{#each organization.administrators}}
						{{this.firstName}} {{this.lastName}}<br/>
					{{/each}}
					<br/>
					L'assemblée adopte cette résolution à l'unanimité.
				</div>

				<br/>
				<div style="font-weight: bold;">6.5	Nomination, renouvellement ou révocation des mandats</div>
				<div>
					L’assemblée générale renouvelle le mandat d’administrateur de Monsieur/Madame [xxx]. Son mandat actuel se terminera dès la clôture de la présente assemblée et son nouveau mandat commencera à courir dès la clôture de la présente assemblée pour une durée de [xxx] ans, se clôturant ainsi légalement le [xxx].
					<br/>ou<br/>
					L’assemblée générale prend acte de la démission de Monsieur/Madame [xxx] de son mandat d’administrateur et lui donne décharge pour son mandat écoulé.
					<br/>ou<br/>
					L'assemblée appelle aux fonctions d’administrateur, Monsieur ***. Son mandat est gratuit. Il se terminera immédiatement après l'assemblée générale annuelle de 20**.
					<br/>
					L'assemblée adopte cette résolution à l'unanimité.
				</div>

				<br/>
				<div style="font-weight: bold;">6.6	Rémunération des administrateurs </div>
				<div>
					{{#each organization.administrators}}
						L’assemblée générale approuve la rémunération de l‘administrateur Monsieur/Madame {{this.firstName}} {{this.lastName}} pour l’année [xxx] , celle-ci sert de base à la rémunération de l’année [xxx+1]<br/>
					{{/each}}
					<br/>
					L’assemblée générale se réserve le droit de modifier cette rémunération à tout moment en cours d’exercice.
					<br/>
					L'assemblée adopte cette résolution à l'unanimité.
				</div>

				<br/>
				<div style="font-weight: bold;">6.7	Procédure de sonnette d’alarme </div>
				<div>
					L’assemblée générale constate que les dispositions de l’article 5:153 du Code des sociétés et des associations ne sont pas d’application en ce que l’actif net de la société n’est pas ou ne risque pas de devenir négatif.
					<br/>OU<br/>
					A la date de la tenue de la présente assemblée générale, l’actif net de la société s’élève à [xxx]. Conformément au prescrit du Code des sociétés et des associations, en son article 5:153, l’organe d’administration de la société justifie, au sein d’un rapport spécial dont copie a été communiquée aux associés plus de quinze jours avant la présente assemblée générale, ses propositions en vue de garantir la continuité des activités de l’entreprise.
					<br/>
					L’assemblée générale constate qu’elle a pris connaissance du rapport de l’organe d’administration dans les délais légaux.
					<br/>
					L’assemblée générale vote à l’unanimité la poursuite des activités de l’entreprise selon les propositions édictées par l’organe d’administration en son rapport.

				</div>

			</div>
		</li>

		<li><h3>CLÔTURE</h3>
			<div>
				Les points à l’ordre du jour étant épuisés, le secrétaire donne lecture du présent procès-verbal, lequel est ensuite signé par les membres du bureau.
				<br/>
				Le Président lève la séance à 12 heures.
			</div>
		</li>
		<table style="text-align: center; border: none;">
			<tr>
				<td style="border: none;">
					Le Président
				</td>
				<td style="border: none;">
					Le Secrétaire
				</td>
				<td style="border: none;">
					Le Scrutateur
				</td>
			</tr>
		</table>
	</ol>

	<div style="page-break-before:always"/>

	<div style="text-align: center;display: flex; margin-top: 3rem; padding-top: 0.5rem; padding-bottom: 0.5rem; font-weight: bold; border: 1px solid black;">
		Liste des présences à l’assemblée générale 
	</div>

	<div style="margin-top: 2rem; margin-bottom: 2rem;">
		Liste de présence de l’Assemblée générale tenue le {{organization.date-ago}} à 10h au siège social de la Société.
	</div>

	<table class="big-table">
		<thead>
			<tr>
				<td>Nom</td>
				<td>Adresse/Siège social</td>
				<td>Mandataire/représentant</td>
				<td>Nombre d’actions</td>
				<td>Signature</td>
			</tr>
		</thead>
		<tbody>
			{{#each organization.administrators}}
				<tr>
					<td>{{this.firstName}} {{this.lastName}}</td>
					<td>{{this.address}}</td>
					<td>/</td>
					<td></td>
					<td></td>
				</tr>
			{{/each}}
			{{#each organization.share_holders}}
				<tr>
					<td>{{this.firstName}} {{this.lastName}}</td>
					<td>{{this.address}}</td>
					<td>/</td>
					<td></td>
					<td></td>
				</tr>
			{{/each}}
		</tbody>
	</table>

  </body>
</html>