# dependencies
**/node_modules
/.pnp
.pnp.js

# testing
/coverage
/cypress/videos
/cypress/screenshots

# production
frontend/build
!**/build/index.html

# misc
backend/media
frontend/src/config.json
.env.production
.env.development

npm-debug.log*
